[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
commonName = device
commonName_default = device

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage = clientAuth
subjectAltName = @alt_names

[alt_names]
URI.1 = urn:device:device
